<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/STYLE.CSS">
    <script src="../static/js/SCRIPT.JS"></script>     
    <script src="https://kit.fontawesome.com/5c162ed7a5.js" crossorigin="anonymous"></script>
    <title>DELTA_DEV</title>
</head>
<body>

    <header>
        <p class="logo">A1-OMEGA</p>
        <nav>
            <ul>
                <li>
                    <a href="home.html">Home</a>
                    <a href="about.html">About me</a>
                    <a href="proyects.html">Proyects</a>
                    <a href="skills.html">Skills</a>
                    <a href="tecnologies.html">Tecnologies</a>
                    <a href="contact.html">Contact Me!</a>
                </li>
            </ul>
        </nav>
        <div class="theme-switch" onclick="toggleTheme()">
            <i class="header-icon fa-solid fa-moon"></i>
            <i class="header-icon fa-solid fa-sun" style="display: none;"></i>
        </div>
    </header> 

    <hr>

    <main>
        <section id="Proyectos" class="proyectos-container">
            <h2 class="proyect-h2">PROYECTS</h2>
            
            <!-- Sección siempre visible -->
            <div class="proyecto">
                <img src="proyecto1.jpg" alt="Proyecto 1">
                <h3>A1-Cube</h3>
                <p>A1-Cube is a Discord Bot that covers areas from administration to entertainment.</p>
                <a class="proyect-a" href="https://discord.com/oauth2/authorize?client_id=1210041929534930954&permissions=8&scope=bot" target="_blank">Ver más</a>
            </div>
        
            <!-- <div class="proyecto">
                <img src="proyecto2.jpg" alt="Proyecto 2">
                <h3>CalculadoraJS</h3>
                <p>Calculadora simple con js (Para rellenar por ahora).</p>
                <a class="proyect-a" href="https://paplion.github.io/CalculadoraJS/SRC/INDEX.HTML" target="_blank">Ver más</a>
            </div> -->
        
        
            <p class="toggle-more" onclick="toggleProyectos()">Ver más 👇</p>
    
            <!-- Sección oculta inicialmente 
            <div class="proyectos-extra">
                <div class="proyecto">
                    <img src="proyecto5.jpg" alt="Proyecto 5">
                    <h3>Otro Proyecto</h3>
                    <p>Descripción del otro proyecto.</p>
                    <a class="proyect-a" href="#">Ver más</a>
                </div>
        
                <div class="proyecto">
                    <img src="proyecto6.jpg" alt="Proyecto 6">
                    <h3>Proyecto Adicional</h3>
                    <p>Descripción del proyecto adicional.</p>
                    <a class="proyect-a" href="#">Ver más</a>
                </div>
            </div> -->
        </section>
    </main>
    
    

    <footer>
        <div class="contact-section">
            <p>Social Media<p>
            <hr>
            <div class="social-icons">
                <a href="https://discord.gg/4zGbjav7Bn" class="fot-icons"><i class="fa-brands fa-discord"></i></a>
                <!-- <a href="https://twitter.com/LionPap" class="fot-icons"><i class="fa-brands fa-twitter"></i></a> -->
                <a href="https://github.com/ExperienceV" class="fot-icons"><i class="fa-brands fa-github"></i></a>
                <a href="https://dev.to/experiencev" class="fot-icons"><i class="fa-brands fa-dev"></i></a>
          </div>
        </div>
        <div class="bottom-section">
          <hr>
          <p>Copyright &copy; 2021</p>
          <p>Desarrollado por Dani.Dev<p>
        </div>
      </footer>
      
</body>
</html>
