<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/STYLE.CSS">
    <script src="../static/js/SCRIPT.JS"></script>      
    <script src="https://kit.fontawesome.com/5c162ed7a5.js" crossorigin="anonymous"></script>
    <title>A1-OMEGA</title>
</head>
<body>

    <header>
        <p class="logo">A1-OMEGA</p>
        <nav>
            <ul>
                <li>
                    <a href="home.html">Home</a>
                    <a href="about.html">About me</a>
                    <a href="proyects.html">Proyects</a>
                    <a href="skills.html">Skills</a>
                    <a href="tecnologies.html">Tecnologies</a>
                    <a href="contact.html">Contact Me!</a>
                </li>
            </ul>
        </nav>
        <div class="theme-switch" onclick="toggleTheme()">
            <i class="header-icon fa-solid fa-moon"></i>
            <i class="header-icon fa-solid fa-sun" style="display: none;"></i>
        </div>
    </header> 

    <hr>

    <main>
        <section id="Conocimientos">
            <h1>Skills</h1>
            <div class="icon-div">
            <p>Python<i class="skills-icons fa-brands fa-python" ></i></p>
            <ul class="skills-ul" id="pythonTechnologies">
                <li>Flask</li>
                <li>Discord.py</li>
                <li>Fast Api</li>
            </ul>
            </div>
            
            <div class="icon-div">
            <p>Sql<i class="skills-icons fa-solid fa-database"></i></p>
            <ul class="skills-ul" id="databaseTechnologies">
                <li>PostgreSQL</li>
                <li>Sqlite3</li>
                <li>MySQL</li>
            </ul>
            </div>
            
            <div class="icon-div">
            <p>Java<i class="skills-icons fa-brands fa-java"></i></p>
            </div>
        </section>
    </main>

    <hr>

    <footer>
        <div class="contact-section">
          <p>Social Media<p>
          <hr>
          <div class="social-icons">
            <a href="https://discord.gg/4zGbjav7Bn" class="fot-icons"><i class="fa-brands fa-discord"></i></a>
            <!-- <a href="https://twitter.com/LionPap" class="fot-icons"><i class="fa-brands fa-twitter"></i></a> -->
            <a href="https://github.com/ExperienceV" class="fot-icons"><i class="fa-brands fa-github"></i></a>
            <a href="https://dev.to/experiencev" class="fot-icons"><i class="fa-brands fa-dev"></i></a>
          </div>
        </div>
        <div class="bottom-section">
          <hr>
          <p>Copyright &copy; 2021</p>
          <p>Desarrollado por Dani.Dev<p>
        </div>
      </footer>
      
</body>
</html>
