<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/STYLE.CSS">
    <script src="../static/js/SCRIPT.JS"></script>    
    <script src="https://kit.fontawesome.com/5c162ed7a5.js" crossorigin="anonymous"></script>
    <title>A1-OMEGA</title>
</head>
<body>

    <header>
        <p class="logo">A1-OMEGA</p>
        <nav>
            <ul>
                <li>
                    <a href="home.html">Home</a>
                    <a href="about.html">About me</a>
                    <a href="proyects.html">Proyects</a>
                    <a href="skills.html">Skills</a>
                    <a href="tecnologies.html">Tecnologies</a>
                    <a href="contact.html">Contact Me!</a>
                </li>
            </ul>
        </nav>
        <div class="theme-switch" onclick="toggleTheme()">
            <i class="header-icon fa-solid fa-moon"></i>
            <i class="header-icon fa-solid fa-sun" style="display: none;"></i>
        </div>
    </header> 

    <hr>

    <main>
        <section id="Tecnologias">
            <h2 class="tecnology-h2">Tecnologías Utilizadas</h2>
        
            <!-- Frontend Section -->
            <a href="https://paplion.github.io/Portafolio-Panda/src/index.html" target="_blank"><h4 class="tecnology-h4 tecnology-h4-isa" class="backend-dev">Made by Dani</h4></a>
            <div class="tecnologia frontend-dev">
                <i class="fa-brands fa-css3-alt"></i>                    <h3>CSS</h3>
                <p>Cascading Style Sheets</p>
            </div>
        
            <div class="tecnologia frontend-dev">
                <i class="fa-brands fa-html5"></i>                    
                <h3>HTML</h3>
                <p>HyperText Markup Language</p>
            </div>
        
            <div class="tecnologia frontend-dev">
                <i class="fa-brands fa-square-js"></i>                    <h3>JS</h3>
                <p>Client-Side Scripting Language</p>
            </div>
        
            <!-- Backend Section -->
            <h4 class="tecnology-h4" class="frontend-dev">Made by Isa</h4>
            <div class="tecnologia backend-dev">
                <i class="fa-brands fa-python"></i>                    <h3>Python</h3>
                <p>General-Purpose Programming Language</p>
            </div>
        
            <div class="tecnologia backend-dev">
                <i class="fa-brands fa-python"></i>                    <h3>Fast-api</h3>
                <p>Python Backend Framework</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="contact-section">
          <p>Social Media<p>
          <hr>
          <div class="social-icons">
            <a href="https://discord.gg/4zGbjav7Bn" class="fot-icons"><i class="fa-brands fa-discord"></i></a>
            <!-- <a href="https://twitter.com/LionPap" class="fot-icons"><i class="fa-brands fa-twitter"></i></a> -->
            <a href="https://github.com/ExperienceV" class="fot-icons"><i class="fa-brands fa-github"></i></a>
            <a href="https://dev.to/experiencev" class="fot-icons"><i class="fa-brands fa-dev"></i></a>
          </div>
        </div>
        <div class="bottom-section">
          <hr>
          <p>Copyright &copy; 2021</p>
          <p>Desarrollado por Dani.Dev<p>
        </div>
      </footer>
      
</body>
</html>
